/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4ECDC4;
    --secondary-color: #F78142;
    --font-size-large: 24px;
    --padding: 16px;
    --bs-body-font-family: "Montserrat", serif;
}

.container {
    max-width: none;
}

.table {
    width: 90%;
    table-layout: auto;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--primary-color) !important;
    width: 100%;
    color: white;
}

.navbar>.container {
    display: block;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item, .navbar-brand {
    padding-left: 20px;
}

.page-content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.page-content .row {
    padding-bottom: 20px !important;
}

.flash_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Ensure text is centered */
    height: 100%; /* Adjust based on your layout */
}

.card-title,
.card-subtitle,
.card-text {
    text-align: center; /* Center all text */
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.card-subtitle {
    font-size: 14px;
    margin: 30px;
}

.card-text {
    margin: 30px;
}

.flash_card .btn-group {
    display: flex;
    justify-content: center; /* Center button group */
}
